#about--section {
  width: 100vw;

  min-height: 100vh;
  overflow: hidden;

  position: relative; 
  
  margin-top: 150px;
}

.about--text {
  display: flex;
  justify-content: center;  
  color: black;
  max-width: 80%; 
  margin-left: 150px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;

  justify-content: center; 
  background-color: #1f2235;
  border-radius: 30px;
  padding: 20px;


 margin: auto;
 border: 3px solid black;
}

.col {
  flex: 1;
  min-height: 450px; 
  max-height: 65vh;
  margin: 10px; 
}

.about--content {
  color: #f5e6e6;
}

.profile-picture {
  background-image: url("./images/profile4.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 478px; 
  height: 100%; 
  border: 1px solid black;
}

.html {
  background-image: url("./images/html5.svg");
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
}
.css {
  background-image: url("./images/css5.svg");
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
}

.javascript {
  background-image: url("./images/javascript1.svg");
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
}

.react {
  background-image: url("./images/react2.svg");
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-left: -35px;
  justify-content: space-evenly;
}

.logos span {
  display: flex;
  margin-top: 80px;
  margin-left: 10px;
}

.logos .javascript span {
  display: block;
  margin-left: -5px;
}



.about--p {
  width: 100%;
}

.stack{
  margin-top: 30px;
}
.btns li {
  display: inline;
  list-style: none;
} 

.btn-link {
  background-color: rgb(235, 204, 166);
  color: #1f2235;
  border-radius: 20px;
  padding: 10px 50px;
  display: inline-flex;
  margin-top: 80px;
  text-align: center;
}

.btn-link:hover {
  background-color: #fff;
  color: rgb(235, 204, 166);
  cursor: pointer;
  border: #f5d1d1 solid;
}

@media (max-width: 1024px) {
  .profile-picture {
    width: 100%;
  }
  .html, .css, .javascript, .react{
    width: 20%;
    
margin-left: 12px;
  }
  .about--text{
    display: flex;
    margin-left: 85px;
  }
  .logos{
    margin-left: -10px;
    display: flex;
    justify-content: space-evenly;
  }
  .logos span{
    font-size: 14px;
    
    }
  .btn-link {
    padding: 12px 22px;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .profile-picture {
    width: 100%;
  }
  .about--p{
    font-size: 11px;
  }
  .stack{
    font-size: 18px;
    margin-top: 7px;
  }
  .html, .css, .javascript, .react {
    width: 60px;
    height: 57px;
  }
  .logos{
    margin-top: 5px;
  }
  .logos .javascript, .react{
    margin-top: 45px;
  }
  .html span, .css span{
    margin-top: 63px;
  }
  .javascript span, .react span{
    margin-top: 63px;
  }
  .btn-link {
    padding: 8px 18px;
    font-size: 14px;
    margin-top: 60px;

  }
  li:last-child{
    margin-left: 5px;
  }
}

@media (max-width: 426px) {
  .row {
    flex-direction: column;
    align-items: center;
    max-width: 80%;
   
  }
  
  .profile-picture {
    width: 250px;
    height: 400px;
  }
  .about--text{
    margin-left: 40px;
    font-size: 20px;
  }
  .about--p{
    margin-top: -35px;
    font-size: 13px;
  }
  .html, 
  .css, 
  .javascript, 
  .react {
    width: 40px;
    height: 45px;
    margin-left: 0px;
    margin-top: 40px;
  }
  .logos .javascript{
    margin-top: 40px;
  }
  .logos span{
    font-size: 10px;
  }
  .stack{
    margin-top: 50px;
  }

  .btn-link {
    padding: 8px 22px;
    font-size: 12px;
    margin-top: 90px;
  }
}

@media (max-width: 376px) {
  .row {
    flex-direction: column;
    align-items: center;
    max-width: 85%;
  }
  .profile-picture {
    width: 250px;
    height: 400px;
  }
  .about--p{
    margin-top: -35px;
    font-size: 14px;
  }
  .html, 
  .css, 
  .javascript, 
  .react {
    width: 45px;
    height: 50px;
    margin-left: 0px;
    margin-top: 40px;
  }
  .logos .javascript{
    margin-top: 40px;
  }
  .logos span{
    font-size: 10px;
  }
  .stack{
    margin-top: 40px;
  }

  .btn-link {
    padding: 8px 22px;
    font-size: 12px;
    margin-top: 90px;
  }
}

@media (max-width: 320px) {
  #about--section {
    padding: 10px;
  }
  .row {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-left: 40px;
  }
    .profile-picture {
 
      width: 200px;
      height: 300px;
    }
    .about--p{
      margin-top: -120px;
      font-size: 14px;
    }
    .html, 
    .css, 
    .javascript, 
    .react {
      width: 35px;
      height: 40px;
      margin-left: 0px;
      margin-top: 20px;
    }
    .logos .javascript{
      margin-top: 100px;
      margin-left: -150px;
    }
    .logos .react{
      margin-top: 100px;
    }
    .logos span{
      font-size: 8px;
      margin-top: 50px;
      margin-left: 2px;
    }
    .stack{
      margin-top: 40px;
    }
  
    .btn-link {
      padding: 6px 12px;
      font-size: 12px;
      margin-top: 60px;
      margin-left: 25px;
    }
    li:last-child{
      margin-left: 15px;
    }
  
}
