#about--section {
  overflow: hidden;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  height: 100vh;
}
.about--text {
  position: relative;
  top: 15%;
  left: 40%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  overflow: hidden;
  max-width: 80%;
  background-color: #1f2235;
  border-radius: 30px;
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
}

.col {
  flex: 1;
  min-width: 0;
  max-width: 100%;
  margin-left: 40px;
}

.about--content {
  padding: 0;
  margin-left: -20px;
  color: #f5e6e6;
  margin-top: 10px;
}

.profile-picture {
  background-image: url("./images/profile4.jpg");
  background-size: cover;
  background-position: center;
  width: 478px;
  height: 550px;
  margin-left: -40px;
  border: 1px solid black;
}

.html {
  background-image: url("./images/html5.svg");
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
}

.css {
  background-image: url("./images/css5.svg");
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
}

.javascript {
  background-image: url("./images/javascript1.svg");
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
}

.react {
  background-image: url("./images/react2.svg");
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 70px;
}

.stack {
  margin-top: 50px;
}

.logos {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 30px;
  margin-left: 5px;
  justify-content: space-evenly;
  left: -10%;
}

p {
  width: 100%;
}

.logos span {
  display: flex;
  margin-top: 80px;
  margin-left: 10px;
}

.logos .javascript span {
  display: block;
  margin-left: -5px;
}

.btns li {
  display: inline;
  list-style: none;
}

.btn-link {
  background-color: rgb(235, 204, 166);
  color: #1f2235;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  display: inline-flex;
  margin-top: 90px;
}

.btn-link:hover {
  background-color: #fff;
  color: rgb(235, 204, 166);
  cursor: pointer;
  border: #f5d1d1 solid;
}

.btns li:last-child {
  margin-left: 30px;
}

@media (max-width: 1024px) {
  .profile-picture {
    width: 410px;
    height: 650px;
  }
  .btn-link {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: -15px;
  }
}

@media (max-width: 768px) {
  .profile-picture {
    width: 310px;
    height: 500px;
  }
  p {
    font-size: 13px;
  }
  .stack {
    font-size: 20px;
  }
  .html,
  .css,
  .javascript,
  .react {
    width: 40px;
    height: 50px;
  }
  .logos span {
    display: flex;
    font-size: 12px;
    margin-top: 70px;
  }
  .btn-link {
    display: inline-flex;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 12px;
    margin-top: 80px;
  }
}

@media (max-width: 426px) {
  .profile-picture {
    width: 182px;
  }
  .about--text{
    position: relative;
    top: 15%;
    left: 18%;
  }
  p {
    font-size: 10px;
    margin-left: 1px;
  }
  .stack {
    font-size: 15px;
  }
  .html,
  .css,
  .javascript,
  .react {
    width: 25px;
    height: 30px;
    margin-left: 4px;
  }
  .logos span {
    display: flex;
    font-size: 9px;
    margin-top: 45px;
    margin-left: 2px;
  }
  .logos .react span {
    display: block;
    margin-left: 6px;
  }
  .logos .javascript span {
    display: block;
    margin-left: -10px;
  }
  .btn-link {
    display: inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    margin-top: 60px;
    margin-left: 70px;
  }
  .btns li:last-child {
    margin-left: 80px;
  }
}

@media (max-width: 376px) {
  .profile-picture {
    width: 160px;
  }
  .about--text{
    position: relative;
    top: 15%;
    left: 18%;
  }
  .logos span {
    display: flex;
    font-size: 8px;
    margin-top: 45px;
  }
  .logos .react span {
    display: block;
    margin-left: 6px;
  }
  .logos .javascript span {
    display: block;
    margin-left: -12px;
  }
  .logos .css span {
    display: block;
    margin-left: -2px;
  }
  .btn-link {
    display: inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 10px;
    margin-top: 60px;
    margin-left: 50px;
  }
}

@media (max-width: 320px) {
  .row{
    max-width: 350px;
    margin-left: 5px;
  }
  .profile-picture {
    width: 160px;
  }
  .about--text{
    position: relative;
    top: 15%;
    left: 18%;
  }
  p{
    margin-left: -8px;
    font-size: 11px;
  }
  .stack {
    font-size: 15px;
    margin-top: 20px;
    margin-left: -8px;
  }
  .html,
  .css,
  .javascript,
  .react {
    width: 17px;
    height: 20px;
    margin-left: 4px;
    margin-top: -10px;
  }
  .logos span {
    display: flex;
    font-size: 8px;
    margin-top: 35px;
    margin-left: -1px;
  }
  .logos{
    margin-left: -8px;
  }
  .btn-link {
    display: inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 8px;
    margin-top: 50px;
    margin-left: 50px;
  }
  .btns li:first-child {
    margin-left: -15px;

  }
}
