#contact--section {
  overflow: hidden;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  height: 100vh;
}
.contact--heading{
  position: relative;
  top: 15%;
  left: 40%;
  font-size: 24px;
  font-weight: bold;
}

.contact--text {
  color: #fff;
  margin-left: 300px;
  margin-top: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  overflow: hidden;
  max-width: 70%;
  height: 70vh;
  background-color: #1f2235;
  border-radius: 30px;
  margin: 40px auto;
  padding: 40px;
  margin-top: 120px;
}

.form--container input {
  padding: 10px;
  width: 48%;
  border-radius: 15px;
  background-color: rgb(235, 204, 166);
  border: none;
  margin-bottom: 20px;
  margin: 10px;
}

.message--container {
  margin-top: 20px; 
}

#message {
  width: 50%; 
  height: 100px;
  resize: vertical;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(235, 204, 166);
  border: none;

  margin-left: 5px;
}

.submit--button {
  padding: 10px 20px;
  background-color: rgb(235, 204, 166);
  color: #1f2235;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 30px; 
  align-self: center; 
}

.submit--button:hover {
  background-color:#fff;
  color:rgb(235, 204, 166);
  cursor: pointer;
  border: #f5d1d1 solid;
}
.image--container {
  width: 100px;
}
.contact--picture {
  width: 100px;
}


@media (max-width: 1280px) {
  
}

@media screen and(max-width: 1024px) {
  .contact--heading {
    top: 15%;
    left: 40%;
    font-size: 24px;
  }

  .contact--text {
    margin: 0 auto;
  }

  .form {
    max-width: 60%;
    height: auto;
    padding: 40px;
    margin-top: 100px;
  }

  .form--container input {
    width: 48%;
  }

  #message {
    width: 50%;
  }

  .submit--button {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  #contact--section {
    overflow: hidden;
    width: 100vw;
    max-width: 35rem;
    margin: 0 auto;
    height: 100vh;
  }
  .contact--heading {
    top: 9%;
    left: -5%;
    font-size: 20px;
    text-align: center;
    
  }

  .contact--text {
    margin: 10px auto;
    text-align: center;
  }

  .form {
    max-width: 90%;
    height: auto;
    margin-top: 60px;
    padding: 20px;
  }

  .form--container input {
    width: 90%;
    margin: 10px auto;
  }

  #message {
    width: 90%;
    margin: 10px auto;
  }

  .submit--button {
    margin-top: 20px;
  }
}




