#contact--section {
  overflow: hidden;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  height: 100vh;
}
.contact--text {
  color: #fff;
  margin-left: 300px;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 3px solid black;
  overflow: hidden;
  max-width: 70%;
  height: 70vh;
  background-color: #1f2235;
  border-radius: 30px;
  position: relative;
  top: 10%;
  left: 18%;
  margin-top: 40px;
  padding-left: 40px;
}

.form--container input {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(235, 204, 166);
  display: flex;
  padding-left: 20px;
  left: -150%;
  top: 20%;
  
  
  
}
.name--container {
  margin-top: 60px;
  
}

.email--container {
  margin-top: 40px;
}

.subject--container {
  margin-top: 40px;
}

.message--container {
position: relative;
top: -45%;
left: -20%;
  margin-left: auto; /* Center the container horizontally */
  margin-right: 50px; /* Center the container horizontally */
  width: 80%; /* Adjust the width as needed */
}

#message {
  width: 100%; /* Ensure the textarea takes the full width */
  height: 200px; /* Adjust the height as needed */
  resize: vertical; /* Allow vertical resizing */
  padding: 10px; /* Add padding for better aesthetics */
  border-radius: 15px; /* Add border radius for a rounded look */
  background-color: rgb(235, 204, 166);
  border: none; /* Remove border */
}

.button--container {
  text-align: center;
}

.submit--button {
  padding: 10px 20px;
  background-color: rgb(235, 204, 166);
  color: #1f2235;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  top: -25%;
  left: 50%;
}

.submit--button:hover {
  background-color: #fff;
}
