#footer--section {
  width: 100vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.2);
  background-color: #1f2235;
}

.footer {
  display: flex;
  flex-direction: column; /* Stack items vertically on small screens */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.footer--nav--list {
  margin-bottom: 10px; /* Add spacing below the navigation list */
}

.footer--nav--list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer--nav--list ul li {
  display: inline-block; /* Align list items horizontally */
  margin: 0 15px; /* Adjust spacing between items */
}

.footer--nav--list ul li a {
  color: rgb(235, 204, 166);
  padding: 10px;
  text-decoration: none;
}

.footer--nav--list ul li a:hover {
  background-color: #1f2235;
  color: #fff;
  text-decoration: underline rgb(235, 204, 166);
}

.copyright {
  color: #fff;
  font-size: 12px; /* Adjust font size for better visibility */
  margin-top: 10px;
}

/* Media Queries for smaller screens */
@media (max-width: 786px) {
  .footer {
    padding: 20px;
  }
  
  .footer--nav--list ul li {
    display: block; /* Stack items vertically */
    margin: 5px 0; /* Adjust spacing */
  }
}

@media (max-width: 425px) {
  .footer--nav--list ul li a {
    padding: 8px;
    font-size: 12px;
  }

  .copyright {
    font-size: 10px;
    margin-top: 5px;
  }
}

@media (max-width: 375px) {
  .footer--nav--list ul li a {
    padding: 6px;
    font-size: 10px;
  }

  .copyright {
    font-size: 8px;
    margin-top: 5px;
  }
}

@media (max-width: 320px) {
  #footer--section {
    width: 110%;
  }
  .footer--nav--list ul li a {
    padding: 5px;
    font-size: 8px;
  }

  .copyright {
    font-size: 6px;
    margin-top: 5px;
  }
}
