#footer--section {
  height: 17vh;
  width: 100vw;
  overflow: hidden;
  background-color: #1f2235;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  z-index: 10;
  background-color: #1f2235;
  width: 100vw;
 
}

.footer--nav--list ul li {
  display: inline;
  margin-right: 50px;
  list-style: none;
  position: relative;
  left: 35%;
  
  
}
.list{
  margin-top: 30px;
}

.footer--nav--list ul li a {
  
  color:rgb(235, 204, 166);
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  
}

.footer--nav--list ul li a:hover {
  cursor: pointer;
  background-color: #1f2235;
  color: #fff ;
  text-decoration: underline rgb(235, 204, 166);
}

.copyright {
  margin-left: 600px;
  margin-top: 20px;
  color: #fff;
  font-size: 10px;
}
