#home-section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #1f2235;
}

.profile--container {
  background-color: #1f2235;
}

.profile {
  display: block;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.profile h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 40px;
}

.profile h1 span {
  color: rgb(235, 204, 166);
}

.profile h2 {
  color: rgb(235, 204, 166);
  margin-bottom: 5px;
}

.profile p {
  color: #fff;
  margin-bottom: 60px;
}

.social--network--logos i {
  color: #fff;
  font-size: 30px;
  transition: transform 0.3s ease;
}

.social--network--logos i:hover {
  transform: scale(1.2);
}

.social--network--logos {
  display: flex;
}

.social--network--logos a {
  margin-right: 15px;
  margin-bottom: 50px;
}

.btns li {
  display: inline;
  list-style: none;
}

.btn1 {
  background-color: rgb(235, 204, 166);
  color: #1f2235;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
  margin-top: 30px;
}

.btn1:hover {
  background-color: #fff;
  color:rgb(235, 204, 166);
  cursor: pointer;
  border: #f5d1d1 solid;
}

.btns li:last-child {
  margin-left: 30px;
}

img {
  display: flex;
  width: 360px;
  height: 355px;
  margin-left: 70px;
  position: absolute;
  left: 116.6%;
  margin-top: -311px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
}

.border-shadow {
  position: absolute;
  width: 360px;
  height: 355px;
  top: 0%;
  left: 131.7%;
  border-radius: 50%;
  border-bottom-color: #fff;
  box-sizing: content-box;
  box-shadow: 0 0 15px rgb(235, 204, 166);
  transition: transform 0.3s ease;
}

.border-shadow:hover {
  transform: scale(1.2);
}


  




@media (max-width: 1280px) {
  .home--heading { font-size: 34px; }
  .home--text { font-size: 17px; }
}

@media only screen and (max-width: 1024px) {

}
img{
  display: flex;
 position: absolute;
 left: 100%
}
.border-shadow{
  display: flex;
  position: absolute;
  left: 115.3%;
  
}

@media (max-width: 912px) {
  .home--heading { font-size: 30px; }
  .home--text { font-size: 15px; }
}

@media (max-width: 820px) {
  .home--heading { font-size: 28px; }
  .home--text { font-size: 14px; }
}

@media only screen and (max-width: 768px) {
  .profile h1 {
    font-size: 30px;
  }
  .profile h2{
    font-size: 17px;
  }

  img{
    position: absolute;
    left: 95%;
    width: 70%;
    height: 100%;
    
  }
  .border-shadow{
    display: flex;
    position: absolute;
    left: 113%;
    top: -8%;
    width: 70%;
    height: 100%;
    
  }
}

@media (max-width: 540px) {
  .home--heading { font-size: 24px; }
  .home--text { font-size: 12px; }
}

@media (max-width: 430px) {
  .home--heading { font-size: 22px; }
  .home--text { font-size: 11px; }
}

@media (max-width: 414px) {
  .home--heading { font-size: 20px; }
  .home--text { font-size: 10px; }
}

@media (max-width: 412px) {
  .home--heading { font-size: 18px; }
  .home--text { font-size: 9px; }
}

@media (max-width: 390px) {
  .home--heading { font-size: 16px; }
  .home--text { font-size: 8px; }
}

@media (max-width: 375px) {
  .home--heading { font-size: 14px; }
  .home--text { font-size: 7px; }
}

@media (max-width: 360px) {
  .home--heading { font-size: 12px; }
  .home--text { font-size: 6px; }
}

@media (max-width: 344px) {
  .home--heading { font-size: 10px; }
  .home--text { font-size: 5px; }
}