#home-section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #1f2235;
}

.profile--container {
  background-color: #1f2235;
}

.profile {
  display: block;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.profile h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 40px;
}

.profile h1 span {
  color: rgb(235, 204, 166);
}

.profile h2 {
  color: rgb(235, 204, 166);
  margin-bottom: 5px;
}

.profile p {
  color: #fff;
  margin-bottom: 60px;
}

.social--network--logos i {
  color: #fff;
  font-size: 30px;
  transition: transform 0.3s ease;
}

.social--network--logos i:hover {
  transform: scale(1.2);
}

.social--network--logos {
  display: flex;
}

.social--network--logos a {
  margin-right: 15px;
  margin-bottom: 50px;
}

.btns li {
  display: inline;
  list-style: none;
}

.btn1 {
  background-color: rgb(235, 204, 166);
  color: #1f2235;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
  margin-top: 30px;
}

.btn1:hover {
  background-color: #fff;
  color: rgb(235, 204, 166);
  cursor: pointer;
  border: #f5d1d1 solid;
}

.btns li:last-child {
  margin-left: 30px;
}

img {
  display: flex;
  width: 360px;
  height: 355px;
  margin-left: 70px;
  position: absolute;
  left: 116.6%;
  margin-top: -311px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
}

.border-shadow {
  position: absolute;
  width: 360px;
  height: 355px;
  top: 0%;
  left: 131.7%;
  border-radius: 50%;
  border-bottom-color: #fff;
  box-sizing: content-box;
  box-shadow: 0 0 15px rgb(235, 204, 166);
  transition: transform 0.3s ease;
}

.border-shadow:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 1024px) {
}
img {
  display: flex;
  position: absolute;
  left: 100%;
}
.border-shadow {
  display: flex;
  position: absolute;
  left: 115.3%;
}

@media only screen and (max-width: 768px) {
  .profile h1 {
    font-size: 30px;
  }
  .profile h2 {
    font-size: 17px;
  }

  img {
    position: absolute;
    left: 90%;
    width: 70%;
    height: 100%;
  }
  .border-shadow {
    display: flex;
    position: absolute;
    left: 108%;
    top: -9.7%;
    width: 70%;
    height: 100%;
  }
}

@media only screen and (max-width: 426px) {
  .profile h1 {
    font-size: 15px;
    margin-left: 30px;
  }
  .profile h2 {
    font-size: 13px;
    margin-left: 30px;
  }
  p {
    font-size: 10px;
    margin-left: 30px;
  }
  img {
    width: 45%;
    height: 70%;
    position: absolute;
    left: 80%;
    top: 175%;
  }
  .border-shadow {
    width: 45%;
    height: 70%;
    position: absolute;
    left: 104.8%;
    top: 5.5%;
  }
  .social--network--logos i {
    font-size: 20px;
  }
  .social--network--logos {
    margin-left: 30px;
    margin-top: -30px;
  }

  .btn1 {
    display: inline-flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 30px;
    font-size: 12px;
    position: fixed;
    top: 70%;
  }
  .btns li:last-child {
    position: absolute;
    left: 12%;
    margin-left: 200px;
  }
}

@media only screen and (max-width: 376px) {
  .profile h1 {
    font-size: 12px;
    margin-left: 30px;
  }

  .profile h2 {
    font-size: 10px;
    margin-left: 30px;
  }
  p {
    font-size: 8px;
    margin-left: 30px;
  }

  .social--network--logos i {
    font-size: 20px;
  }
  .social--network--logos {
    margin-left: 30px;
    margin-top: -30px;
  }
  .btn1 {
    display: inline-flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 30px;
    font-size: 12px;
    position: fixed;
    top: 70%;
  }
  .btns li:last-child {
    position: absolute;
    left: 12%;
    margin-left: 200px;
  }
  img {
    width: 120px;
    height: 130px;
    position: absolute;
    top: 190%;
    left: 75%;
  }
  .border-shadow {
    width: 120px;
    height: 128px;
    position: absolute;
    top: 7.3%;
    left: 106%;
  }
}

@media only screen and (max-width: 320px) {
  #home-section {
    height: 107vh;
    width: 113vw;
  }
  p {
    font-size: 7px;
  }
  .profile h2 {
    font-size: 8px;
  }
  img {
    width: 120px;
    height: 130px;
    position: absolute;
    top: 190%;
    left: 73%;
  }
  .border-shadow {
    width: 120px;
    height: 128px;
    position: absolute;
    top: 4.3%;
    left: 108%;
  }
}
