#projects--section {
  overflow: hidden;
  width: 100vw;
  
  margin: 0 auto;
  margin-top: 20px;
  height: 100vh;
}

.project--heading{
  position: relative;
  top: 17%;
  left: 40%;
  font-size: 24px;
  font-weight: bold;
}
.row2 {
  display: flex;
  flex-wrap: wrap;

  border: 3px solid black;
  overflow: hidden;
  max-width: 60%;
  height: 72vh;
  background-color: #1f2235;
  border-radius: 30px;
  position: relative;
  top: 0;
  left: 18%;
  margin-top: 130px;
}

.col2 {
  flex: 1;
  min-width: 0;
  max-width: 100%;
  margin-left: 60px;
  margin-top: 0px;
}

.project--name {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
}

.project1 {
  background-image: url("./images/project1.jpg");
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 300px;
  border-radius: 30px;
}

.project2 {
  background-image: url("./images/project2.jpg");
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 300px;
  border-radius: 30px;
}

.project--btn1 {
  position: relative;
  top: 10%;
  border-radius: 20px;
  justify-content: space-between;
}

.live,
.git {
  margin-left: 17px;
  background-color: rgb(235, 204, 166);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
}

.live:hover {
  background-color: #fff;
  color: rgb(235, 204, 166);
  cursor: pointer;
  cursor: pointer;
  border: #f5d1d1 solid;
}

.git:hover {
  background-color: #fff;
  color: rgb(235, 204, 166);
  cursor: pointer;
  border: #f5d1d1 solid;
}


@media (max-width: 1024px) {
  .projects--heading {
    font-size: 32px;
  }

  .project--description {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .projects--heading {
    font-size: 28px;
  }

  .project--description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {


  .project--description {
    font-size: 12px;
  }
}