* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body {
  background-color: #2a2e44;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: black;
  transition: background-color 0.1s ease;
}

.nav-link:hover {
  background-color: lightgray;
}

.nav-link.active {
  color: white;
}





